@model YourGameOfTheYear.Models.Game
@inject YourGameOfTheYear.Data.YourGameOfTheYearContext context
@{
    int num = context.UsersInfo.FirstOrDefault(x => x.UserName == User.Identity.Name).Id;
    var reviews = context.UserReviews.Where(x => x.UserId == num).ToList();
    ViewData["Title"] = "Details";
}
<script language="C#" runat="server">
    
</script>
<h2>@Html.DisplayFor(model => model.GameName)</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GameDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Studio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Studio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Genre.GenreName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Genre.GenreName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameRating)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameRating)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GameReleaseDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GameReleaseDate)
        </dd>
    </dl>
    @if (reviews.FirstOrDefault(x => x.GameId == Model.ID) == null)
    {
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create" asp-controller="UserReviews">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" name="GameId" />
                <div class="form-group row">
                    <div class="col-md-5 col-md-offset-1 text-center">
                        <h3><label name="@nameof(UserReview.UserReviewTitle)" class="control-label">Title</label></h3>
                        <input name="UserReviewTitle" class="form-control" />
                        @Html.ValidationMessageFor(x => x.UserReviews[0].UserReviewTitle)
                    </div>
                    <div class="col-md-3 col-md-offset-2">
                        <h3 class="text-center">Rating</h3>
                        <table class="table table-condensed text-center">
                            <tr>
                                @foreach(var rating in UserReview.Ratings)
                                {
                                    <th>@rating.ToString()</th>
                                }
                            </tr>
                            <tr>
                                @foreach (var rating in UserReview.Ratings)
                                {
                                    <td>@Html.RadioButtonFor(x => x.UserReviews[0].UserRating, rating, rating)</td>
                                }
                            </tr>

                        </table>
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10">
                        <label name="@nameof(UserReview.UserDescription)" class="control-label">Review</label>
                        <textarea rows="3" cols="25" name="UserDescription" class="form-control"></textarea>
                        @Html.ValidationMessageFor(x => x.UserReviews[0].UserDescription)
                    </div>
                    <div class="form-group col-md-2 text-center">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </form>
        </div>
    </div>
    }
</div>
@await Component.InvokeAsync("Review",Model.ID)
