@model IEnumerable<YourGameOfTheYear.Models.Game>

@{
    ViewData["Title"] = "Index";
}

<h2>Game Library</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GamgName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Studio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GameReleaseDate)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>Options</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GamgName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameDescription)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Studio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameRating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GameReleaseDate)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
