@model IEnumerable<YourGameOfTheYear.Models.UserReview>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserReviewTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserReviewTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewDate)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
